/* Colors */
$sidebar-color: #000000; /*czarny*/
$sidebar-color-hover: #333333; /*jasno-czarny*/
$section-color: #F5F5F2; /*biały*/
$body-color: #E3E3E3; /*jasno-szary*/
$font-color: #979797; /*ciemno-szary*/
$button-hover-color: #FFA200; /*jasno-pomarańczowy*/
$button-color: #F58220; /*ciemno-pomarańczowy*/

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  text-align: center;
  background: $body-color;
  color: $font-color;
  overflow-y: scroll;
}

/*Sidebar*/
.sidebar-menu {
  display: block;
  background: $sidebar-color;
  width: 200px;
  position: fixed;
  top: 0;
  z-index: 16;
}

.sidebar-outside {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: $sidebar-color;
  height: 100%;
  width: 194px;
  font-family: "Lato", sans-serif;
  z-index: 5;
}

.logo-text {
  display: flex;
  color: $section-color;
  width: 100%;
}

.logo-text h1 {
  font-family: 'Satisfy', cursive;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 20px 0;
  padding-left: 25px;
}

.set-links, .rwd-top-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.set-links li:hover, .rwd-top-menu li:hover {
  background: $sidebar-color-hover;
}

.set-links li:hover a, .rwd-top-menu li:hover a {
  color: $section-color;
}

.set-links li:hover a .icon, .rwd-top-menu li:hover a .icon {
  filter: invert(100%);
}

.link-out, .top-link {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  align-items: center;
}

.link-out::before, .top-link::before {
  background-color: $button-color;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-right: 80px;
  content: "";
  height: inherit;
  width: 5px;
  visibility: hidden;
}

.set-links .link-out:hover::before, .top-link:hover::before {
  visibility: visible;
}

.link-out a, .top-link a {
  display: flex;
  color: $font-color;
  text-decoration: none;
}

.icon {
  width: 16px;
  height: 16px;
  filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
  margin: 0px 15px 0px 20px;
}

.rwd-top-bar {
  display: none;
}

/*Contact*/
.contact-chat {
  border-top: 1px solid $font-color;
  padding-top: 10px;
}

.manager-text h4 {
  margin-right: 50px;
  font-size: 15px;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}

.photo::before {
  background-color: #04AE00;
  position: absolute;
  top: 5px;
  left: 64px;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  z-index: 6;
}

.name a {
  position: relative;
  top: 15px;
  right: 6px;
  text-decoration: none;
  color: #56819F;
  margin-left: 50px;
  font-size: 15px;
}

/*Topbar*/
.top-menu {
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 55px;
  background-color: $section-color;
  border-bottom: 1px solid $body-color;
  color: $font-color;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 4;
  font-family: "Open Sans", sans-serif;
}

.top-menu .top-menu-part {
  display: -ms-flexbox;
  display: flex;
}

.top-menu .top-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  -ms-flex-direction: row;
  flex-direction: row;
}

.top-menu .top-links .link-one {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  list-style: none;
  border-left: 1px solid #e3e3e3;
}

.top-menu .top-links .link-one *:first-child {
  margin-left: 20px;
}

.top-menu .top-links .link-one a {
  font-size: 12px;
  filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
}

.top-menu .top-links .link-one a:hover {
  filter: invert(61%) sepia(22%) saturate(2202%) hue-rotate(1deg) brightness(104%) contrast(103%);
}

.top-menu .top-links .link-one * {
  margin-right: 20px;
}

/*a {
  background-color: transparent;
}*/

.top-menu .top-links .link-one img {
  height: 15px;
  width: 15px;
  margin: 0 10px;
}

img {
  border-style: none;
}

/*Dashboard*/
.page.active {
  display: block;
}

//@media (min-width: 769px) and (max-width: 991px)
.page {
  width: 100%;
  height: 100%;
  display: none;
  -ms-flex-align: center;
  align-items: center;
}

.page {
  margin: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

//@media (min-width: 769px) and (max-width: 991px)
.page .container {
  display: -ms-flexbox;
  display: flex;
  margin-left: 205px;
  margin-top: 70px;
  min-width: 65%;
  margin: 70px 20px 20px 205px;
  height: 95%;
}

.page .container {
  display: -ms-flexbox;
  display: flex;
  min-width: 85%;
  min-height: 98%;
  box-sizing: content-box;
  background-color: #ffffff;
  margin: 70px 20px 20px 210px;
  box-shadow: 0 0 10px #e3e3e3;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

.text-head {
  width: 100%;
  height: 50px;
  border-bottom: 1.5px solid #e3e3e3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.text-head h3 {
  margin-left: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #acacac;
}

.form-outside {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  border-bottom: 1.5px solid #e3e3e3;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: row;
  flex-direction: row;
}

.form-outside .form-date:first-of-type {
  border-right: none;
}

.form-outside .form-date {
  background-color: transparent;
  border-radius: 3px;
  border: 1.5px solid #e3e3e3;
  //margin: 0;
  height: 40px;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  display: none;
}

.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f58220;
  color: #ffffff;
  border-radius: 3px;
  padding: 0 10px;
  min-height: 35px;
  min-width: 35px;
  text-decoration: none;
  margin-left: 10px;
}

.btn:hover {
  background: $button-hover-color;
}

img.icon-refresh {
  filter: invert(100%);
}

.table-container {
  width: 100%;
  height: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.table-container .table-container-row {
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  //-ms-flex-direction: row;
  // flex-direction: row;
  margin-top: 30px;
}

.table-container .table-container-row .column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
}

.table-container .table-container-row .column .row {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  padding: 15px;
}

.table-wrapper .table-container-row .column .row p {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  color: #acacac;
  margin: 0;
}

.row:hover {
  background: #dcdde1;
  cursor: pointer;
}

.amount {
  color: $sidebar-color;
  font-weight: 400;
}


@media (max-width: 767px) {
  .form-date {
    width: 50%;
    height: 30%;
  }

  .date-1 {
    margin-right: 50px;
  }

  .form-outside {
    display: flex;
    flex-direction: column;
    height: 140px;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
  }

  .form-outside .form-date:first-of-type {
    margin-bottom: 5px;
    border-right: 1.5px solid #e3e3e3;
  }

  .row {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .table-container {
    width: 100%;
  }

  .table-container-row {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .amount {
    margin-right: -130px;
  }

  .chart-wrapper {
    margin-top: 100px;
  }

  .row:hover {
    background: #dcdde1;
    cursor: pointer;
  }

  .page {
    top: -68px;
    z-index: 17;
  }

  .top-menu {
    display: none;
    visibility: hidden;
  }

  .page .container {
    margin-top: 20px;
  }

  /*rwd topbar to sidebar*/
  .rwd-top-bar {
    display: inline;
    font-size: 12px;
  }

  .rwd-line {
    border-top: 1px solid $font-color;
    margin: 60px 0px 30px 0px;
  }

  /*hamburger*/

  .hamburger {
    background: $sidebar-color;
    width: 19px;
    display: block;
    height: 22px;
    margin: 20px 15px 20px 17px;
    cursor: pointer;
  }

  .line-first {
    height: 4px;
    background: white;
    margin: 0px 0px 2px 0px;
  }

  .line-second, .line-third {
    height: 3px;
    background: white;
  }

  .line-second {
    margin: 5px 0px;
  }

  .line-third {
    margin: 5px 0px 0px 0px;
  }
}
